vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Nov 2015 20:14:47 -0000
vti_author:SR|BLUEFORCE09\\Niyaz
vti_modifiedby:SR|BLUEFORCE09\\Niyaz
vti_nexttolasttimemodified:TW|13 Nov 2015 20:14:28 -0000
vti_timecreated:TR|04 Nov 2015 12:31:23 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|restaurants.htm news-and-media.htm catering.htm the-menu-raan-specialities.htm the-menu-chinese-gravy.htm the-menu-veg-gravy.htm the-menu-saladsncurd.htm the-menu-falooda.htm careers.htm the-menu-tawa-takatak.htm the-menu-beverages.htm locations1.htm locations.htm news-and-media1.htm the-menu-sea-food.htm the-menu-chinese-starters.htm the-menu-non-veg-rice.htm our-legacy.htm fast-food.htm accolades.htm the-menu-choice-of-kebabs.htm index.htm dastarkhwan.htm awards.htm the-menu-veg-starters.htm the-menu-indian-gravy.htm our-menu.htm the-menu-noodles.htm the-menu-rotis.htm the-menu-desserts.htm contact-us.htm the-menu-dailyspl.htm the-menu-soups.htm test.htm sweets.htm the-menu-veg-rice.htm
vti_syncwith_localhost\\e\:\\projects\\habit\\website/e\:/projects/habit/website:TW|02 Nov 2015 10:24:07 -0000
vti_syncwith_localhost\\e\:\\projects\\the perfect plan\\website2/e\:/projects/the perfect plan/website2:TW|02 Nov 2015 10:24:07 -0000
vti_cacheddtm:TX|13 Nov 2015 20:14:28 -0000
vti_filesize:IR|522
vti_cachedlinkinfo:VX|Q|../bootstrap/css/bootstrap.min.css Q|fonts.css Q|margin.css Q|animate.min.css Q|slicknav.css Q|selectize.css Q|nivo-slider.css Q|lightbox.css Q|webcss.css
vti_cachedsvcrellinks:VX|FQUS|bootstrap/css/bootstrap.min.css FQUS|css/fonts.css FQUS|css/margin.css FQUS|css/animate.min.css FQUS|css/slicknav.css FQUS|css/selectize.css FQUS|css/nivo-slider.css FQUS|css/lightbox.css FQUS|css/webcss.css
vti_syncwith_localhost\\e\:\\projects\\aquagreen solutions\\website/e\:/projects/aquagreen solutions/website:TW|13 Nov 2015 20:14:47 -0000
