vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Nov 2015 14:56:48 -0000
vti_author:SR|BLUEFORCE09\\Niyaz
vti_modifiedby:SR|BLUEFORCE09\\Niyaz
vti_nexttolasttimemodified:TW|04 Nov 2015 14:55:59 -0000
vti_timecreated:TR|04 Nov 2015 12:31:22 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|css/custom.css
vti_syncwith_localhost\\e\:\\projects\\habit\\website/e\:/projects/habit/website:TW|01 Nov 2015 09:51:45 -0000
vti_cacheddtm:TX|04 Nov 2015 14:56:48 -0000
vti_filesize:IR|295
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css Q|https://fonts.googleapis.com/css Q|https://fonts.googleapis.com/css Q|font-awesome.min.css Q|elegant-font.css
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css NQSS|https://fonts.googleapis.com/css NQSS|https://fonts.googleapis.com/css FQUS|css/font-awesome.min.css FQUS|css/elegant-font.css
vti_syncwith_localhost\\e\:\\projects\\the perfect plan\\website2/e\:/projects/the perfect plan/website2:TW|04 Nov 2015 14:56:48 -0000
vti_syncwith_localhost\\e\:\\projects\\aquagreen solutions\\website/e\:/projects/aquagreen solutions/website:TW|04 Nov 2015 14:56:48 -0000
