vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Feb 2016 16:17:19 -0000
vti_author:SR|BLUEFORCE09\\Niyaz
vti_modifiedby:SR|BLUEFORCE09\\Niyaz
vti_nexttolasttimemodified:TW|03 Feb 2016 16:16:56 -0000
vti_timecreated:TR|04 Nov 2015 12:31:23 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|css/custom.css
vti_syncwith_localhost\\e\:\\projects\\habit\\website/e\:/projects/habit/website:TW|04 Nov 2015 08:33:38 -0000
vti_syncwith_localhost\\e\:\\projects\\the perfect plan\\website2/e\:/projects/the perfect plan/website2:TW|06 Nov 2015 19:57:14 -0000
vti_syncwith_localhost\\e\:\\projects\\aquagreen solutions\\website/e\:/projects/aquagreen solutions/website:TW|19 Nov 2015 13:15:53 -0000
vti_cacheddtm:TX|03 Feb 2016 16:17:19 -0000
vti_filesize:IR|35849
vti_cachedlinkinfo:VX|S|../images/logo.png S|../images/order-online.png S|../images/zomato-logo-hover.png S|../images/zomato-logo-hover.png S|../images/bannerMaskbg.png S|../images/leftArrow.png S|../images/rightArrow.png S|../images/quotes-icon.png S|../images/expand.png S|../images/collapse.png S|../images/arrow-down-marker.png S|../images/zomato-logo-hover.png S|../images/zomato-logo-hover.png
vti_cachedsvcrellinks:VX|FSUS|images/logo.png FSUS|images/order-online.png FSUS|images/zomato-logo-hover.png FSUS|images/zomato-logo-hover.png FSUS|images/bannerMaskbg.png FSUS|images/leftArrow.png FSUS|images/rightArrow.png FSUS|images/quotes-icon.png FSUS|images/expand.png FSUS|images/collapse.png FSUS|images/arrow-down-marker.png FSUS|images/zomato-logo-hover.png FSUS|images/zomato-logo-hover.png
