vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|26 Jan 2015 19:42:26 -0000
vti_author:SR|BLUEFORCE09\\Niyaz
vti_modifiedby:SR|BLUEFORCE09\\Niyaz
vti_nexttolasttimemodified:TW|26 Jan 2015 19:42:26 -0000
vti_timecreated:TR|04 Nov 2015 12:31:23 -0000
vti_cacheddtm:TX|04 Nov 2015 12:31:23 -0000
vti_filesize:IR|26429
vti_cachedlinkinfo:VX|S|fonts/elegant/ElegantIcons.eot S|fonts/elegant/ElegantIcons.eot S|fonts/elegant/ElegantIcons.woff S|fonts/elegant/ElegantIcons.ttf S|fonts/elegant/ElegantIcons.svg
vti_cachedsvcrellinks:VX|FSUS|css/fonts/elegant/ElegantIcons.eot FSUS|css/fonts/elegant/ElegantIcons.eot FSUS|css/fonts/elegant/ElegantIcons.woff FSUS|css/fonts/elegant/ElegantIcons.ttf FSUS|css/fonts/elegant/ElegantIcons.svg
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|css/fonts.css
vti_syncwith_localhost\\e\:\\projects\\habit\\website/e\:/projects/habit/website:TW|26 Jan 2015 19:42:26 -0000
vti_syncwith_localhost\\e\:\\projects\\the perfect plan\\website2/e\:/projects/the perfect plan/website2:TW|26 Jan 2015 19:42:26 -0000
vti_syncwith_localhost\\e\:\\projects\\aquagreen solutions\\website/e\:/projects/aquagreen solutions/website:TW|26 Jan 2015 19:42:26 -0000
